# TODO: Replace with ethereum-etl package, once a bew version is
# released to pypi that includes support for Origin Protocol data extraction.
# In the meantime, use origin-etl which is a fork.
origin-etl==0.0.1
# For AppEngine
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
Flask-Migrate==2.5.3
gunicorn==20.0.4
envkey
# Postgres driver (note: as an alternative psycopg2 can be used).
pg8000==1.15.3
# Google BigQuery
google-cloud-bigquery==1.25.0
